:root {
  --color-primary: #00309F;
  --color-font-heading: #293952 ;
  --color-font-second: #001A56 ; }

@font-face {
  font-family: 'arialbold';
  src: url("../fonts/ARLRDBD.TTF") format("truetype"); }

@font-face {
  font-family: 'coolvetica';
  src: url("../fonts/coolvetica.TTF") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 63.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 100; }

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/home.png); }

.head-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 70vh;
  padding: 5rem 8vw; }
  @media only screen and (max-width: 56.25em) {
    .head-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh; } }

.categories {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  height: 30vh;
  width: 100%;
  box-shadow: 0rem -0.5em 10rem rgba(0, 48, 159, 0.3);
  z-index: 5;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      height: 100%; } }

.news {
  height: 90vh; }
  @media only screen and (max-width: 56.25em) {
    .news {
      margin-top: 3rem; } }

.navigation {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  padding: 0rem 5vw;
  position: fixed;
  z-index: 40;
  width: 100%; }
  .navigation__logo {
    padding: 1rem 0rem; }
  .navigation__logo a {
    display: flex;
    align-items: flex-start;
    text-decoration: none; }
  .navigation__img {
    max-width: 4rem;
    height: auto; }
  .navigation__name {
    color: var(--color-font-heading);
    font-size: 1.8rem;
    margin-left: .5rem; }

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 50; }
  .nav__list {
    list-style: none;
    display: flex;
    align-self: stretch; }
  .nav__item {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    height: 100%; }
    .nav__item a {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0rem 3rem;
      color: var(--color-font-heading);
      font-weight: bold;
      text-decoration: none;
      transition: all .2s; }
      @media only screen and (max-width: 56.25em) {
        .nav__item a {
          padding: 0 1.5rem; } }
      .nav__item a:hover {
        background-color: var(--color-primary);
        box-shadow: 0rem 0.5rem 2rem rgba(0, 48, 159, 0.4);
        color: #ffffff; }
  .nav__call {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-primary);
    box-shadow: 0rem 0.3rem 0.6rem rgba(0, 48, 159, 0.15);
    border-radius: 300px;
    padding: .6rem 2.5rem;
    margin-left: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__call {
        margin-left: 1.5rem; } }
  .nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem; }
  .nav__number {
    font-weight: bold;
    color: var(--color-font-heading);
    font-size: 1.7rem; }

.responsive-nav {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 50; }
  .responsive-nav__menu {
    font-size: 4.5rem;
    color: var(--color-font-heading);
    line-height: 1;
    cursor: pointer; }

@media only screen and (max-width: 43.75em) {
  .navigation {
    display: none;
    margin-top: 5.2rem;
    position: fixed;
    z-index: 40; }
    .navigation__logo {
      display: none; }
  .nav {
    padding: 3rem;
    position: relative;
    z-index: 50;
    justify-content: center; }
    .nav__call {
      margin-left: 0rem; }
    .nav__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
    .nav__item {
      font-size: 1.7rem;
      width: 100%;
      justify-content: center;
      display: flex; }
      .nav__item a {
        width: 100%;
        padding: 3rem 0rem;
        display: flex;
        justify-content: center; }
  .logo {
    height: 3rem;
    display: block; }
  .responsive-nav {
    display: flex !important;
    position: fixed;
    z-index: 50; }
  .responsive__logo a {
    display: flex;
    align-items: flex-start;
    text-decoration: none; }
  .responsive__img {
    max-height: 4.5rem; }
  .responsive__name {
    color: var(--color-font-heading);
    font-size: 1.7rem;
    margin-left: .5rem; } }

.box {
  padding-top: 1rem !important; }

.quote {
  color: #ffffff;
  font-family: 'coolvetica', sans-serif; }
  .quote__box {
    background-color: rgba(0, 48, 159, 0.5);
    width: 60rem;
    height: 25rem;
    border-radius: .5rem;
    padding: 2rem 3rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 159, 0.1);
    position: relative;
    transform: translateX(1rem); }
    @media only screen and (max-width: 31.25em) {
      .quote__box {
        width: 40rem;
        height: 23rem; } }
    @media only screen and (max-width: 21.85em) {
      .quote__box {
        width: 35rem;
        height: 30rem; } }
    .quote__box--back {
      transform: translateY(-1rem);
      position: absolute; }
  .quote__h1 {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .quote__h1 {
        font-size: 5rem; } }
  .quote__underline {
    background-color: #ffffff;
    height: 4px;
    width: 7rem;
    margin-bottom: 1rem; }
  .quote__p {
    font-size: 2.5rem;
    font-weight: 400; }

a {
  text-decoration: none; }

.btn-new {
  display: block;
  margin-left: -5rem;
  cursor: pointer;
  font-family: 'arialbold', sans-serif;
  font-size: 1.8rem;
  border: none;
  color: #ffffff;
  background-color: rgba(0, 48, 159, 0.8);
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 159, 0.1);
  transition: all .2s  ease;
  outline: none; }
  @media only screen and (max-width: 56.25em) {
    .btn-new {
      margin-top: 5rem;
      margin-left: 0; } }
  .btn-new:hover {
    transform: scale(1.05);
    border-radius: .5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 159, 0.3); }

.cards {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 132rem; }
  @media only screen and (max-width: 56.25em) {
    .cards {
      flex-direction: column;
      align-items: center;
      width: auto; } }
  .cards__container {
    margin-top: -2rem;
    width: 50%;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .cards__container {
        width: 100%;
        margin-top: 0; } }
  .cards__inner {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.card {
  background-color: #ffffff;
  display: block;
  margin: 2.5rem 0rem;
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  box-shadow: 0.5rem 1rem 99rem rgba(0, 48, 159, 0.1);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .card {
      margin: 1.5vw 0rem; } }
  @media only screen and (max-width: 31.25em) {
    .card {
      width: 18rem;
      height: 18rem; } }
  @media only screen and (max-width: 56.25em) {
    .card--one {
      margin-right: 3vw; } }
  .card--two, .card--four {
    transform: translateY(-2rem); }
    @media only screen and (max-width: 56.25em) {
      .card--two, .card--four {
        transform: none; } }
  .card--five, .card--seven {
    transform: translateY(-4rem); }
    @media only screen and (max-width: 56.25em) {
      .card--five, .card--seven {
        margin-right: 3vw;
        transform: none; } }
  @media only screen and (max-width: 56.25em) {
    .card--three {
      margin-right: 3vw; } }
  .card--six, .card--eight {
    transform: translateY(-6rem); }
    @media only screen and (max-width: 56.25em) {
      .card--six, .card--eight {
        transform: none; } }
  .card__container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__icon {
    width: 7rem;
    height: 7rem;
    fill: var(--color-primary);
    margin-bottom: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .card__icon {
        width: 5rem;
        height: 5rem; } }
  .card__headline {
    font-family: 'arialbold' , sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-primary); }
    @media only screen and (max-width: 31.25em) {
      .card__headline {
        font-size: 2rem; } }
  .card:hover > .card__hover {
    opacity: 1; }
  .card__hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 48, 159, 0.9);
    padding: 2rem;
    transition: all .2s ease; }
    @media only screen and (max-width: 31.25em) {
      .card__hover {
        padding: .5rem; } }
  .card__txt {
    font-family: 'arialbold' , sans-serif;
    font-size: 2rem !important;
    color: #ffffff;
    text-align: center; }
    @media only screen and (max-width: 31.25em) {
      .card__txt {
        font-size: 1.8rem !important; } }

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 5rem 7vw;
  background: linear-gradient(to right bottom, #00309F, #5266A3); }

.h1 {
  color: #ffffff;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-top: 0rem; }

.address,
.site__link {
  color: #ffffff;
  font-size: 1.5rem; }

@media only screen and (max-width: 21.85em) {
  .address,
  .site {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem; } }

.site {
  margin-bottom: 0rem; }
  .site__link {
    display: block;
    transition: all .2s ease; }
    .site__link:hover {
      transform: scale(1.1); }
    .site__link::before {
      content: "> ";
      font-size: 2rem;
      font-weight: 900; }

.social {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  align-items: flex-end; }
  @media only screen and (max-width: 31.25em) {
    .social {
      width: 100%;
      flex-direction: row;
      margin-top: 3rem;
      justify-content: center; } }
  @media only screen and (max-width: 31.25em) {
    .social__link:not(:last-child) {
      padding-right: 5rem; } }
  .social__icon {
    fill: #ffffff;
    width: 4rem;
    height: 4rem;
    transition: all .2s ease; }
    .social__icon:hover {
      transform: scale(1.1); }

.news__wrapper {
  margin-left: 9vw; }

.news__h1 {
  font-size: 3.5rem;
  color: var(--color-font-second); }

.news__underline {
  height: .3rem;
  width: 4rem;
  color: var(--color-font-second); }

.carousel {
  width: 100%;
  height: 75%;
  background-color: transparent;
  padding: 3rem 0rem; }

.carousel-cell {
  width: 37rem;
  margin-right: 3.5rem;
  height: 95%;
  background-color: #f5f8ff;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0rem rgba(0, 46, 152, 0.4);
  padding: 2rem;
  transition: box-shadow .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .carousel-cell:hover {
    box-shadow: 1rem 1rem 0rem rgba(0, 46, 152, 0.7); }
  .carousel-cell:first-of-type, .carousel-cell:last-of-type {
    width: 9vw;
    box-shadow: none;
    background-color: transparent;
    margin: 0; }
  .carousel-cell__h1 {
    color: var(--color-font-second);
    font-size: 2.2rem;
    margin-bottom: 1rem; }
  .carousel-cell__text {
    color: var(--color-font-second);
    font-size: 1.5rem; }
  .carousel-cell__img {
    border-radius: 1rem;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
    margin: 1.5rem 0rem; }
    .carousel-cell__img--one {
      background-image: linear-gradient(to right, rgba(0, 57, 191, 0.3), rgba(0, 57, 191, 0.3)), url(../img/news1.jpg); }
    .carousel-cell__img--two {
      background-image: linear-gradient(to right, rgba(0, 57, 191, 0.3), rgba(0, 57, 191, 0.3)), url(../img/news2.jpg); }
    .carousel-cell__img--three {
      background-image: linear-gradient(to right, rgba(0, 57, 191, 0.3), rgba(0, 57, 191, 0.3)), url(../img/news3.jpg); }
  .carousel-cell__date {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-font-second); }

.header--housing {
  background-image: url(../img/house.png);
  height: 80vh;
  background-position: bottom; }

.information {
  min-height: 50vh;
  display: flex;
  justify-content: center; }

.page-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  height: 23rem;
  width: 55rem;
  background-color: rgba(0, 48, 159, 0.5);
  padding: 2rem 3rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 159, 0.1);
  border-radius: .5rem;
  position: relative;
  transform: translateX(1rem); }
  @media only screen and (max-width: 31.25em) {
    .box {
      width: 35rem;
      height: 30rem; } }
  .box--back {
    transform: translateY(-1rem);
    position: absolute; }
  .box__wrapper {
    color: #ffffff;
    font-family: 'coolvetica', sans-serif; }
  .box__h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center; }
  .box__txt {
    font-size: 2.5rem;
    text-align: center; }

.info {
  display: flex;
  justify-content: center;
  width: 100rem;
  background-color: transparent;
  margin: 0rem 2rem 10rem 2rem;
  flex-wrap: wrap; }
  .info__box {
    width: 50%;
    padding: 2rem 2rem; }
    @media only screen and (max-width: 43.75em) {
      .info__box {
        width: 100%; } }
    .info__box--first {
      min-height: 35rem;
      background-color: var(--color-primary);
      border-radius: 1rem 0rem 0rem 0rem;
      box-shadow: 0.5rem 1rem 20rem rgba(70, 106, 183, 0.5);
      color: #ffffff; }
      @media only screen and (max-width: 43.75em) {
        .info__box--first {
          border-radius: 1rem 1rem 0rem 0rem;
          min-height: auto; } }
    .info__box--second {
      min-height: 35rem;
      background-color: #7291DA;
      border-radius: 0rem 1rem 0rem 0rem;
      box-shadow: 0.5rem 1rem 20rem rgba(114, 145, 218, 0.5);
      color: #ffffff; }
      @media only screen and (max-width: 43.75em) {
        .info__box--second {
          border-radius: 0rem 0rem 0rem 0rem;
          min-height: auto; } }
    .info__box--third {
      min-height: 25rem;
      background-color: #C2D2F7;
      border-radius: 0rem 0rem 0rem 1rem;
      box-shadow: 0.5rem 1rem 20rem rgba(194, 210, 247, 0.6);
      color: var(--color-font-second); }
      @media only screen and (max-width: 43.75em) {
        .info__box--third {
          border-radius: 0rem 0rem 0rem 0rem;
          min-height: auto; } }
    .info__box--fourth {
      background-color: #DCE7FF;
      border-radius: 0rem 0rem 1rem 0rem;
      box-shadow: 0.5rem 1rem 20rem rgba(220, 231, 255, 0.6);
      color: var(--color-font-second); }
      @media only screen and (max-width: 43.75em) {
        .info__box--fourth {
          border-radius: 0rem 0rem 1rem 1rem;
          min-height: auto; } }
  .info__still {
    padding: 0rem 1rem; }
  .info__h1 {
    font-size: 3rem; }
  .info__underline {
    height: .3rem;
    width: 5rem;
    background-color: currentColor; }
  .info__desc {
    font-size: 1.8rem;
    margin: 1.5rem 0rem;
    font-weight: bold; }
  .info__info {
    font-size: 1.6rem; }
  .info__click {
    color: currentColor;
    text-decoration: underline; }
  .info__btn {
    display: block;
    width: 100%;
    padding: 1.3rem 1rem;
    font-size: 2.3rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    transition: all .3s; }
    .info__btn--one {
      color: #ffffff;
      background-color: var(--color-primary); }
      .info__btn--one::after {
        color: var(--color-font-second);
        background-color: white; }
      .info__btn--one:hover {
        background-color: #012b8d; }
    .info__btn--two {
      color: var(--color-font-second);
      background-color: #C2D2F7; }
      .info__btn--two::after {
        color: #ffffff;
        background-color: var(--color-font-second); }
      .info__btn--two:hover {
        background-color: #a0bcff; }
    .info__btn--three {
      color: var(--color-font-second);
      background-color: #DCE7FF; }
      .info__btn--three::after {
        color: #ffffff;
        background-color: var(--color-font-second); }
      .info__btn--three:hover {
        background-color: #cedcff; }
  .info__txt {
    font-size: 1.5rem;
    color: currentColor;
    padding: 1rem; }

.pannel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.accordion:after {
  content: '\002B';
  font-size: 4rem;
  font-weight: 400;
  line-height: .5;
  border-radius: 100rem;
  padding: .3rem; }

.active:after {
  content: "\2212"; }

.header--selfservice {
  background-image: url(../img/PCfinal.png);
  height: 80vh;
  background-position: bottom; }

.box-self {
  height: 18rem; }
  @media only screen and (max-width: 31.25em) {
    .box-self {
      height: 21rem; } }

.info__box--self {
  background-color: #ffffff;
  color: var(--color-font-second);
  width: 100%;
  box-shadow: 0.5rem 1rem 20rem rgba(186, 208, 255, 0.5);
  border-radius: 0rem 0rem 1rem 1rem; }

.header--new {
  background-image: url(../img/nyhavn.png);
  height: 80vh;
  background-position: bottom; }

@media only screen and (max-width: 31.25em) {
  .box-new, .box-new--back {
    height: 29rem !important; } }

.steps {
  min-height: 100vh;
  display: flex;
  justify-content: center; }
  .steps__left, .steps__right {
    width: 47.5%;
    padding: 7rem 0rem 1rem 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 31.25em) {
      .steps__left, .steps__right {
        width: 95%; } }
  .steps__right {
    padding: 7rem 1rem 1rem 0rem;
    text-align: left; }
    @media only screen and (max-width: 31.25em) {
      .steps__right {
        display: none !important; } }

.step {
  color: var(--color-font-second);
  margin-bottom: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .step {
      text-align: center;
      width: 100%; } }
  .step__number {
    font-size: 10rem;
    line-height: 0.8;
    font-weight: bold; }
  .step__heading {
    font-size: 3.5rem; }
  .step__text {
    font-size: 1.7rem; }
  .step__img-mobile, .step--mobile {
    display: none !important; }
    @media only screen and (max-width: 31.25em) {
      .step__img-mobile, .step--mobile {
        display: block !important; } }
  @media only screen and (max-width: 31.25em) {
    .step__img-mobile {
      max-width: 80%; } }
  .step__img {
    max-width: 100%;
    height: auto; }
    @media only screen and (max-width: 50em) {
      .step__img {
        max-width: 80%; } }
    @media only screen and (max-width: 31.25em) {
      .step__img {
        display: none; } }

.road {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%; }
  @media only screen and (max-width: 31.25em) {
    .road {
      display: none !important; } }
  .road__line {
    width: .4rem;
    background-color: var(--color-primary);
    min-height: 100vh;
    border-radius: 10rem;
    margin: 1rem 0rem; }
  .road__icon {
    height: 5rem;
    width: 5rem;
    fill: var(--color-primary); }

.steps-wrapper {
  width: 100rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0rem 1rem 7rem 1rem; }

.header--contact {
  height: 9vh;
  background-image: none; }
  @media only screen and (max-width: 63.75em) {
    .header--contact {
      height: 7vh; } }

.contact {
  height: 91vh; }
  @media only screen and (max-width: 50em) {
    .contact {
      max-height: 150vh; } }

.cnt {
  width: 100%;
  height: 100%;
  display: flex; }
  @media only screen and (max-width: 50em) {
    .cnt {
      flex-direction: column; } }

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; }
  @media only screen and (max-width: 50em) {
    .contact-form {
      width: 100%;
      height: 100%; } }

.form > input {
  margin: 1.3rem 0rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-primary);
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--color-font-second); }
  .form > input:not(:last-child) {
    width: 100%;
    padding: 2rem 0rem .5rem .5rem; }

input::-webkit-input-placeholder {
  color: var(--color-font-second); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 43rem; }
  @media only screen and (max-width: 26.25em) {
    .form {
      width: 80%; } }
  .form__message {
    height: 20rem;
    margin: 1.3rem 0rem;
    width: 43rem;
    padding: .5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    font-family: sans-serif;
    font-size: 1.5rem;
    color: var(--color-font-second);
    resize: none; }
    @media only screen and (max-width: 26.25em) {
      .form__message {
        width: 100%; } }
    .form__message::-webkit-input-placeholder {
      color: var(--color-font-second); }
  .form__submit {
    align-self: flex-start;
    border: none;
    border-bottom: none !important;
    padding: 1.5rem 2rem;
    cursor: pointer;
    font-family: 'arialbold', sans-serif  !important;
    font-size: 1.6rem  !important;
    border: none;
    color: #ffffff !important;
    background-color: rgba(0, 48, 159, 0.8);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 159, 0.1);
    transition: all .2s ease; }
    .form__submit:hover {
      transform: scale(1.05);
      border-radius: .5rem;
      box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 159, 0.3); }

.map-cont {
  width: 50%;
  overflow: hidden; }
  @media only screen and (max-width: 50em) {
    .map-cont {
      width: 100%;
      height: 50vh;
      margin-top: 4rem; } }

.map__pic {
  height: 100%;
  width: 100%;
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-position: center;
  transition: all 1s ease; }
  .map__pic:hover {
    transform: scale(1.1); }
